:root {
    --nav-bg: linear-gradient(90deg, rgba(37,63,95,1) 0%, rgba(47,76,117,1) 15%, rgba(78,83,133,1) 26%, rgba(68,73,114,1) 38%, rgba(77,68,114,1) 53%, rgba(76,55,121,1) 61%, rgba(46,60,103,1) 72%, rgba(33,93,121,1) 90%, rgba(36,93,123,1) 100%);
}

html {
    scroll-behavior: smooth;
}

/** General style **/
.underlined {
    color: black;
    background-image: linear-gradient(90deg, rgba(226,203,255,1) 0%, rgba(202,161,255,1) 50%, rgba(226,203,255,1) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 88%;
    transition: background-size 0.15s ease-in;
    padding-bottom: .25em;
    margin-bottom: .25em;
}

pre {
    margin: 2em;
    padding: 1em;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code.pre {
    padding: .25em;
}

pre, code.pre {
    background: #eff0f1;
    border-radius: 5px;
    box-shadow: inset 0 0 2px;
}

/** Content specific style **/
nav {
    background: var(--nav-bg);
}

#logo-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo-container img {
    height: 75%;
}

#whatisit {
    height: 50vh;
    background-color: #263238;
    color: white;

    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

#whatisit .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#whatisit p {
    color: #9eaeb5;
    font-size: 1.2em;
}

/** Hacky hack but can't find another way to do this... **/

.pictparent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pictures img:first-child {
    top: 0;
    left: 0;
}

#pictures {
    position: relative;

    width: calc(192px + 2em);
    height: calc(108px + 2em);
}

#pictures img {
    position: absolute;

    width: 192px;
    height: 108px;
}

#pictures img:nth-child(2) {
    top: 1em;
    left: 1em;
}

#pictures img:last-child {
    top: 2em;
    left: 2em;
}

@media screen and (min-width: 900px) {
    #pictures {
        width: calc(240px + 4em);
        height: calc(135px + 4em);
    }
    
    #pictures img {
        width: 240px;
        height: 135px;
    }
    
    #pictures img:nth-child(2) {
        top: 2em;
        left: 2em;
    }
    
    #pictures img:last-child {
        top: 4em;
        left: 4em;
    }
}

/** No more hacky hack thingy things **/

#github-link {
    background: #333335;
}


#why .card .card-image img {
    height: 5em;
}

#why .card .card-content {
    text-align: justify;
}

#download {
    background: #efefef;
    box-shadow: inset 1px 1px 5px 0;
    position: relative;
}

#separator {
    position: absolute;
    content: '';
    pointer-events: none;
    margin-top: -50px;
    left: 50%;
    width: 100px;
    height: 100px;
    background: white;
    box-shadow: 1px 1px 5px 0;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}

#download .container {
    padding: 4em 0 3em 0;
}

#download .card-action {
    display: flex;
    justify-content: space-around;
}

#download .card-action a {
    text-align: center;
    margin: 0;
    padding: 0;
}

#guide {
    min-height: 300px;
    background: white;
    padding-bottom: 7em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}

h4 {
    margin-bottom: 1em;
}

#guide .container {
    max-width: 750px;
    text-align: justify;
}

#guide #tutorial ul li{
    margin-left: 3em;
}

#contribute {
    box-sizing: content-box;
    height: 50vh;
    margin-top: -300px;
    padding-top: 300px;

    background-color: #263238;
    color: white;
}

#contribute > div {
    height: 100%;
}

#contribute a {
    color: #fff;
}


#love {
    background-color: #263238;
}

#love span, #love a {
    color: white;
}