:root {
    --nav-bg: linear-gradient(90deg, rgba(37,63,95,1) 0%, rgba(47,76,117,1) 15%, rgba(78,83,133,1) 26%, rgba(68,73,114,1) 38%, rgba(77,68,114,1) 53%, rgba(76,55,121,1) 61%, rgba(46,60,103,1) 72%, rgba(33,93,121,1) 90%, rgba(36,93,123,1) 100%);
}

nav {
    background: var(--nav-bg);
}

#logo-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo-container img {
    height: 75%;
}

/** Temporary **/
#index-banner {
    height: calc(100vh - 64px);
}

#index-banner .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#github-link {
    background: #333335;
}